{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG {% block titulo %}{% endblock titulo%}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="div-principal">
        <img src="{% static 'img/logo.jpg' %}" alt="" width="150" height="150">
        
        <ul>
            <li><a href="{% url 'home' %}">HOME</a></li>
        </ul>
    </div>

    {% block contenido %}
        
    {% endblock contenido %}

</body>
</html>