{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG {% block titulo %}{% endblock titulo%}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="div-principal">
        <img src="{% static 'img/logo.jpg' %}" alt="" width="150" height="150">
        
        <ul >
            <li class="menu"><a href="{% url 'home' %}">HOME</a></li>
            <li class="menu"><a href="{% url 'libros:listar_libros' 'todos' %}">LIBROS</a></li>
            <li class="menu"><a href="{% url 'libros:crear_libro' %}">CREAR</a></li>
            

            {% if user.is_authenticated %}
                <li class="menu"><b>Welcome {{user.username}}</b></li>
                <li class="menu"><a href="{% url 'usuarios:logout' %}">LOGOUT</a></li>
            {% else %}
                <li class="menu"><a href="{% url 'usuarios:registro_usuario' %}">REGISTRAR</a></li> 
                <li class="menu"><a href="{% url 'usuarios:login' %}">LOGIN</a></li>
            {% endif %}

            {% if user.is_staff %}
            {% endif %}

            {% if user.is_superuser %}
            {% endif %}

            

        </ul>
    </div>

    {% block contenido %}
        
    {% endblock contenido %}

</body>
</html>