{% extends 'base.html' %}

{% block titulo %}
    DETALLE VBF
{% endblock titulo %}

{% block contenido %}
    <h4>{{libro.titulo}}</h4>
    <div>
        
            <img src="{{libro.imagen.url}}" alt="">
            <p><b>TITULO: </b>{{libro.titulo}}</p>
            <p><b>ISBN: </b>{{libro.isbn}}</p>
            <p><b>AUTOR: </b>{{libro.autor}}</p>
            <p><b>FECHA DE PUBLICACION: </b>{{libro.fecha_publicacion}}</p>
            
        
    </div>

    <a href="{% url 'libros:listar_libros' 'todos' %}">VOLVER</a>

{% endblock contenido %}