{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBROS - LISTAR</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <h1 class="titulos">ESTA PAGINA LISTA LOS LIBROS</h1>
    <div>
        {% for l in libros %}
            <img src="{{l.imagen.url}}" alt="">
            <p>{{l.titulo}}</p>
            <p>{{l.autor}}</p>
            <p>{{l.fecha_publicacion}}</p>
            <p><a href="{% url 'libros:detalle_libro' l.pk %}">VER MAS DETALLE</a></p>
        {% endfor %}
        <br><br><br>
    </div>

    <a href="{% url 'home' %}">VOLVER AL HOME</a>
</body>
</html>