{% extends 'base.html' %}

{% block titulo %}
    LISTAR VBF
{% endblock titulo %}

{% block contenido %}
    <div class="sub-menu">
        <a href="{% url 'libros:listar_libros' 'todos' %}">Todos</a>
        {% for c in categorias %}
            <a href="{% url 'libros:listar_libros' c.nombre %}">{{c.nombre}}</a>
        {% endfor %}
    </div>  
    <h4>LISTAR LIBROS VBF</h4>
    <div class="listar">
        {% for l in libros %}
        <div class="item">
            <p><img src="{{l.imagen.url}}" alt="" width="150"></p>
            <p>{{l.titulo}}</p>
            <p>{{l.autor}}</p>
            <p>{{l.fecha_publicacion}}</p>
            <p><a href="{% url 'libros:detalle_libro' l.pk %}">DETALLE</a></p>
            <p><a href="{% url 'libros:modificar_libro' l.pk %}">MODIFICAR</a></p>
            <p><a href="{% url 'libros:eliminar_libro' l.pk %}">ELIMINAR</a></p>
        </div>
        {% endfor %}
        <br><br><br>
        
    </div>

    <a href="{% url 'home' %}">VOLVER AL HOME</a>

{% endblock contenido%}
