
.titulos{
    color:red;
    font-size: 2em;
}

.div-principal{
    height: 200px;
    padding: 50px;
    text-align: center;
    width: 1280px;
}

.menu{
    display: inline;
}

.contenido{
    padding: 0 100px 100px 100px;
}

.item{
    width:300px;
    display: inline-block;
}

.listar{
    width: 1280px;
}

.sub-menu{
    
    padding-bottom: 40px;
    text-align: center;
    width: 1280px;
}